.HomeBtn {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(81, 146, 51);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

h1{
    color: #fff;
    margin: 10px;
}

.homeContainer {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
